* {
   margin: 0px;
   padding: 0px;
}

body {
   font-size: 120%;
   background: #f8f8ff;
}

.header {
   width: 60%;
   margin: 50px auto 0px;
   color: white;
   background: #5f9ea0;
   text-align: center;
   border: 1px solid #b0c4de;
   border-bottom: none;
   border-radius: 10px 10px 0px 0px;
   padding: 20px;
}

form,
.content {
   width: 60%;
   margin: 0px auto;
   padding: 20px;
   border: 1px solid #b0c4de;
   background: white;
}

.beginning {
   border-radius: 10px 10px 0px 0px;
}

.end {
   border-radius: 0px 0px 10px 10px;
}

.input-group {
   margin: 10px 0px 10px 0px;
}

.input-group label {
   display: block;
   text-align: left;
   margin: 3px;
}

.input-group input {
   height: 30px;
   width: 93%;
   padding: 5px 10px;
   font-size: 16px;
   border-radius: 5px;
   border: 1px solid gray;
}

.btn {
   padding: 10px;
   font-size: 15px;
   color: white;
   background: #5f9ea0;
   border: none;
   border-radius: 5px;
}

.error {
   width: 92%;
   margin: 0px auto;
   padding: 10px;
   border: 1px solid #a94442;
   color: #a94442;
   background: #f2dede;
   border-radius: 5px;
   text-align: left;
}

.success {
   color: #3c763d;
   background: #dff0d8;
   border: 1px solid #3c763d;
   margin-bottom: 20px;
}

.interactable {
   cursor: pointer;
   color: blue;
}

.hide {
   display: none;
}

.comment_section {
   border-style: outset;
   border: 1px solid black;
}

.avatar {
   margin-right: auto;
   margin-top: auto;
   border-radius: 50%;
}

.lil_avatar {
   border-radius: 50%;
   size: 50%;  
}

.post, .message {
   border-style: dotted dashed solid double;
   border: 1px solid black;
}

.content_code {
   background-color: gray;
   font-family: 'Courier New', Courier, monospace;
}

.hashtag {
   color: blue;
   text-decoration: underline;
}

.received_message {
   text-align: right;
}

.sent_messages {
   text-align: left;
}